@import "{{ site.theme }}";

body {
  text-align: center;
}

header,
footer {
  display: none;
}

a {
  text-decoration: underline;
}

img {
  max-width: 16em;
  border-radius: 16em;
  vertical-align: bottom;
}
